<style>
  .view-volunteers {
    padding: 24px;
  }
  
  .view-volunteers > paper-material {
    padding: 16px;
    margin-bottom: 24px;
    background-color: #fff;
  }
  
  .input-content.label-is-floating.paper-input-container label.gold-phone-input {
    -webkit-transform: translate(-40px, -75%) scale(0.75);
    transform: translate(-40px, -75%) scale(0.75);
  }
  
  paper-input, gold-email-input, gold-phone-input {
    margin-bottom: 8px;    
  }
  
  paper-checkbox {
    margin: 16px 0;
  }

</style>

<div class="view-volunteers">
  <div class="paper-font-title">Volunteers</div>
  
  <paper-material class="volunteer-list">
    <div ng-repeat="v in Volunteers">
      <span class="paper-font-body2">{{v.name}}</span>
    </div>
  </paper-material>
  
  <paper-material class="new-volunter-form">
    <form id="newVolunteerForm" is="iron-form">
      <paper-input label="Name" 
                   required 
                   auto-validate
                   error-message="Required"
                   ng-model="form.newVolunteer.name"></paper-input>

      <gold-email-input required
                        auto-validate
                        error-message="Required"
                        ng-model="form.newVolunteer.mail"></gold-email-input>

      <gold-phone-input ng-model="form.newVolunteer.phone"></gold-phone-input>

      <div><paper-checkbox ng-model="form.newVolunteer.securityCleared">Security Cleared?</paper-checkbox></div>
      <div class="layout end-justified horizontal">
        <paper-button raised ng-click="addVolunteer()">Add</paper-button>
      </div>
    </form>
  </paper-material>
</div>